In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
individualLabels = pd.read_csv('../dataset/individual_factor_and_labels.csv', header=0)
print(individualLabels.shape)
individualLabels.head()

(310550, 25)

,gameId,teamId,teamPosition,win,playerNumericalRank,goldEarned,playerGoldPerMin,champExperience,playerExpPerMin,kills,...,visionScore,playerVisionScorePerMin,totalMinionsKilled,playerMinionsKilledPerMin,playerTotalIndegree,playerTotalOutdegree,AcquiringFactor,SharingFactor,individual_labels,isGoodPlayer
0,EUW1_7139824479,100,TOP,0,4,10434,335.678284,15998,514.680965,3,...,30,0.965147,149,4.793566,8,15,-0.773508,-0.220719,3,False
1,EUW1_7139824479,100,JUNGLE,0,4,11754,378.144772,12801,411.828418,5,...,25,0.804290,21,0.675603,14,18,-0.264876,-0.238105,0,True
2,EUW1_7139824479,100,MIDDLE,0,3,14008,450.659517,16812,540.868633,8,...,27,0.868633,224,7.206434,17,13,0.680857,0.011135,0,True
3,EUW1_7139824479,100,BOTTOM,0,5,13199,424.632708,13664,439.592493,9,...,5,0.160858,162,5.211796,26,7,0.128600,-1.045854,0,True
4,EUW1_7139824479,100,UTILITY,0,4,7658,246.369973,9087,292.343164,2,...,57,1.833780,25,0.804290,3,15,-1.656852,0.776635,1,False

### Distribution of good and bad individual players

In [3]:
individualLabels['isGoodPlayer'].value_counts()

isGoodPlayer
True     175227
False    135323
Name: count, dtype: int64

### How often do good players win or lose the game

In [4]:
individualLabels[individualLabels['isGoodPlayer'] == 1]['win'].value_counts()

win
1    109958
0     65269
Name: count, dtype: int64

### How often do bad players win or lose the game

In [5]:
individualLabels[individualLabels['isGoodPlayer'] == 0]['win'].value_counts()

win
0    90006
1    45317
Name: count, dtype: int64

In [6]:
teamLabels = pd.read_csv('../dataset/team_factor_and_labels.csv', header=0)
print(teamLabels.shape)
teamLabels.head()

(62110, 13)

,gameId,teamId,win,averageTeamExpPerMin,averageTeamGoldPerMin,averageTeamVPM,teamIndegreeCentrality,teamOutdegreeCentrality,resistance,CooperativeFactor,NonCooperativeFactor,team_labels,isGoodTeam
0,EUW1_7139824479,100,0,439.862735,367.2,0.926542,0.227941,0.080882,0.6500,0.731456,-0.738828,0,False
1,EUW1_7139824479,200,1,451.058445,387.8,0.701340,0.204545,0.172078,0.5907,0.201695,-0.065562,2,True
2,EUW1_7140549083,100,0,416.710163,380.4,0.971142,0.240196,0.142157,1.0599,0.419814,0.016391,0,False
3,EUW1_7140549083,200,1,544.592221,500.6,1.069009,0.174757,0.065534,0.4496,-2.502744,-0.102221,1,True
4,EUW1_7139855952,100,1,497.323814,423.4,1.199388,0.173729,0.067797,1.0129,-0.656660,-0.414528,2,True

### Distribution of good and bad team

In [7]:
teamLabels['isGoodTeam'].value_counts()

isGoodTeam
True     38390
False    23720
Name: count, dtype: int64

### How often do good teams win or lose, out of those 38.3K good teams

In [8]:
teamLabels[teamLabels['isGoodTeam'] == 1]['win'].value_counts()

win
1    29951
0     8439
Name: count, dtype: int64

### How often do bad teams win or lose, out of those 23.2K bad teams

In [9]:
teamLabels[teamLabels['isGoodTeam'] == 0]['win'].value_counts()

win
0    22616
1     1104
Name: count, dtype: int64

In [10]:
# selective features for individual and team data
individualData = individualLabels[['gameId', 'teamId', 'teamPosition', 'win', 'playerNumericalRank', 'AcquiringFactor', 'SharingFactor', 'isGoodPlayer']]
teamData = teamLabels[['gameId', 'teamId', 'win', 'teamIndegreeCentrality', 'teamOutdegreeCentrality', 'resistance', 'CooperativeFactor', 'NonCooperativeFactor', 'isGoodTeam']]

individualInTeamLabels = individualData.merge(teamData, on=['gameId', 'teamId', 'win'], how='inner')
print(individualInTeamLabels.shape)

individualInTeamLabels.head()

(310550, 14)

,gameId,teamId,teamPosition,win,playerNumericalRank,AcquiringFactor,SharingFactor,isGoodPlayer,teamIndegreeCentrality,teamOutdegreeCentrality,resistance,CooperativeFactor,NonCooperativeFactor,isGoodTeam
0,EUW1_7139824479,100,TOP,0,4,-0.773508,-0.220719,False,0.227941,0.080882,0.65,0.731456,-0.738828,False
1,EUW1_7139824479,100,JUNGLE,0,4,-0.264876,-0.238105,True,0.227941,0.080882,0.65,0.731456,-0.738828,False
2,EUW1_7139824479,100,MIDDLE,0,3,0.680857,0.011135,True,0.227941,0.080882,0.65,0.731456,-0.738828,False
3,EUW1_7139824479,100,BOTTOM,0,5,0.128600,-1.045854,True,0.227941,0.080882,0.65,0.731456,-0.738828,False
4,EUW1_7139824479,100,UTILITY,0,4,-1.656852,0.776635,False,0.227941,0.080882,0.65,0.731456,-0.738828,False

In [11]:
individualInTeamLabels['isGoodPlayer'].value_counts()

isGoodPlayer
True     175227
False    135323
Name: count, dtype: int64

In [12]:
# good and player count within good team matches
goodPlayerCountInGoodTeam = individualInTeamLabels[individualInTeamLabels['isGoodTeam'] == True].groupby(['gameId', 'teamId'])['isGoodPlayer'].sum().reset_index(name='goodPlayersCountInTeam')
goodPlayerCountInGoodTeam['majorityGoodPlayers'] = goodPlayerCountInGoodTeam['goodPlayersCountInTeam'] > 2
goodPlayerCountInGoodTeam

                gameId  teamId  goodPlayersCountInTeam  majorityGoodPlayers
0      EUN1_3674082346     100                       4                 True
1      EUN1_3674396954     200                       2                False
2      EUN1_3674432138     200                       3                 True
3      EUN1_3674441883     100                       3                 True
4      EUN1_3674441883     200                       3                 True
...                ...     ...                     ...                  ...
38385   TR1_1557321820     100                       4                 True
38386   TR1_1557328989     200                       3                 True
38387   TR1_1557562830     200                       3                 True
38388   TR1_1557947149     200                       4                 True
38389   TR1_1558005152     200                       5                 True

[38390 rows x 4 columns]

In [13]:
goodPlayerCountInGoodTeam['majorityGoodPlayers'].value_counts()

majorityGoodPlayers
True     35010
False     3380
Name: count, dtype: int64

In [20]:
# good and bad player count within bad team matches
goodPlayerCountInBadTeam = individualInTeamLabels[individualInTeamLabels['isGoodTeam'] == False].groupby(['gameId', 'teamId'])['isGoodPlayer'].sum().reset_index(name='goodPlayersCountInTeam') 
goodPlayerCountInBadTeam['majorityGoodPlayers'] = goodPlayerCountInBadTeam['goodPlayersCountInTeam'] > 2
goodPlayerCountInBadTeam

                gameId  teamId  goodPlayersCountInTeam  majorityGoodPlayers
0      EUN1_3674082346     200                       3                 True
1      EUN1_3674396954     100                       2                False
2      EUN1_3674432138     100                       1                False
3      EUN1_3674480330     200                       2                False
4      EUN1_3674801136     100                       2                False
...                ...     ...                     ...                  ...
23715   TR1_1557321820     200                       3                 True
23716   TR1_1557328989     100                       1                False
23717   TR1_1557562830     100                       2                False
23718   TR1_1557947149     100                       2                False
23719   TR1_1558005152     100                       1                False

[23720 rows x 4 columns]

In [21]:
goodPlayerCountInBadTeam['majorityGoodPlayers'].value_counts()

majorityGoodPlayers
False    18445
True      5275
Name: count, dtype: int64

### How often do majority good players or bad players in good team win the game

In [14]:
goodPlayerCountInGoodTeam = goodPlayerCountInGoodTeam.merge(teamLabels[['gameId', 'teamId', 'win']], on=['gameId', 'teamId'], how='inner')
goodPlayerCountInGoodTeam

,gameId,teamId,goodPlayersCountInTeam,majorityGoodPlayers,win
0,EUN1_3674082346,100,4,True,1
1,EUN1_3674396954,200,2,False,1
2,EUN1_3674432138,200,3,True,1
3,EUN1_3674441883,100,3,True,1
4,EUN1_3674441883,200,3,True,0
...,...,...,...,...,...
38385,TR1_1557321820,100,4,True,1
38386,TR1_1557328989,200,3,True,1
38387,TR1_1557562830,200,3,True,0
38388,TR1_1557947149,200,4,True,1
38389,TR1_1558005152,200,5,True,1

In [15]:
goodPlayerCountInGoodTeam['win'].value_counts()

win
1    29951
0     8439
Name: count, dtype: int64

In [16]:
goodPlayerCountInGoodTeam[goodPlayerCountInGoodTeam['majorityGoodPlayers'] == True]['win'].value_counts()

win
1    28303
0     6707
Name: count, dtype: int64

In [18]:
goodPlayerCountInGoodTeam[goodPlayerCountInGoodTeam['majorityGoodPlayers'] == False]['win'].value_counts()

win
0    1732
1    1648
Name: count, dtype: int64

### How often do majority good players or bad players in bad team win the game

In [22]:
goodPlayerCountInBadTeam = goodPlayerCountInBadTeam.merge(teamLabels[['gameId', 'teamId', 'win']], on=['gameId', 'teamId'], how='inner')
goodPlayerCountInBadTeam

,gameId,teamId,goodPlayersCountInTeam,majorityGoodPlayers,win
0,EUN1_3674082346,200,3,True,0
1,EUN1_3674396954,100,2,False,0
2,EUN1_3674432138,100,1,False,0
3,EUN1_3674480330,200,2,False,0
4,EUN1_3674801136,100,2,False,0
...,...,...,...,...,...
23715,TR1_1557321820,200,3,True,0
23716,TR1_1557328989,100,1,False,0
23717,TR1_1557562830,100,2,False,1
23718,TR1_1557947149,100,2,False,0
23719,TR1_1558005152,100,1,False,0

In [23]:
goodPlayerCountInBadTeam['win'].value_counts()

win
0    22616
1     1104
Name: count, dtype: int64

In [24]:
goodPlayerCountInBadTeam[goodPlayerCountInBadTeam['majorityGoodPlayers'] == True]['win'].value_counts()

win
0    4763
1     512
Name: count, dtype: int64

In [26]:
goodPlayerCountInBadTeam[goodPlayerCountInBadTeam['majorityGoodPlayers'] == False]['win'].value_counts()

win
0    17853
1      592
Name: count, dtype: int64